.loading_card {
	.dot-typing {
		position: relative;
		left: -9999px;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background-color: #34d399;
		color: #34d399;
		box-shadow: 9984px 0 0 0 #34d399, 9999px 0 0 0 #34d399,
			10014px 0 0 0 #34d399;
		animation: dot-typing 1.5s infinite linear;
	}
}

/*typing dots*/
@keyframes dot-typing {
	0% {
		box-shadow: 9984px 0 0 0 #34d399, 9999px 0 0 0 #34d399,
			10014px 0 0 0 #34d399;
	}
	16.667% {
		box-shadow: 9984px -10px 0 0 #34d399, 9999px 0 0 0 #34d399,
			10014px 0 0 0 #34d399;
	}
	33.333% {
		box-shadow: 9984px 0 0 0 #34d399, 9999px 0 0 0 #34d399,
			10014px 0 0 0 #34d399;
	}
	50% {
		box-shadow: 9984px 0 0 0 #34d399, 9999px -10px 0 0 #34d399,
			10014px 0 0 0 #34d399;
	}
	66.667% {
		box-shadow: 9984px 0 0 0 #34d399, 9999px 0 0 0 #34d399,
			10014px 0 0 0 #34d399;
	}
	83.333% {
		box-shadow: 9984px 0 0 0 #34d399, 9999px 0 0 0 #34d399,
			10014px -10px 0 0 #34d399;
	}
	100% {
		box-shadow: 9984px 0 0 0 #34d399, 9999px 0 0 0 #34d399,
			10014px 0 0 0 #34d399;
	}
}
