$main-color: #34d399;

.dropdown {
	position: relative;

	.dropdown-toggle {
		cursor: pointer;
		color: #999da8;
		display: inline-block;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		svg {
			font-size: 20px;
			display: inline-block;
		}

		&:not(.no-arrow)::after {
			content: '';
			display: inline-block;
			margin-left: 0.255em;
			vertical-align: 0.255em;
			border-top: 0.3em solid;
			border-right: 0.3em solid transparent;
			border-bottom: 0;
			border-left: 0.3em solid transparent;
		}
	}

	.dropdown-menu {
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 100;
		display: none;
		min-width: 10rem;
		margin: 0.125rem 0 0;
		font-size: 1rem;
		color: #212529;
		text-align: left;
		list-style: none;
		background-color: #fff;
		box-shadow: 0 3px 15px rgba(22, 41, 124, 0.1);
		border-radius: 0.25rem;
		-webkit-animation-name: DropDownSlide;
		animation-name: DropDownSlide;
		-webkit-animation-duration: 0.3s;
		animation-duration: 0.3s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		&.open {
			display: block;
		}

		li {
			margin: 0.3rem 0.5rem;
		}

		.dropdown-item {
			display: block;
			width: 100%;

			padding: 0.3rem 1rem;
			clear: both;
			font-weight: 400;
			color: #333;
			text-align: inherit;
			text-decoration: none;
			border-radius: 5px;
			white-space: nowrap;
			background-color: transparent;
			border: 0;
			transition: 0.4s;

			&:hover {
				color: $main-color;
				background-color: rgba($color: $main-color, $alpha: 0.1);
			}
		}

		.dropdown-divider {
			height: 0;
			opacity: 1;
			border-top: 1px solid #eff2f7;
		}
	}

	&.to-left {
		.dropdown-menu {
			right: auto;
			left: 100%;
		}
	}
}

@-webkit-keyframes DropDownSlide {
	100% {
		transform: translateY(0);
	}
	0% {
		transform: translateY(10px);
	}
}

@keyframes DropDownSlide {
	100% {
		transform: translateY(0);
	}
	0% {
		transform: translateY(10px);
	}
}
