@mixin placeholder_animation($name, $opacityNum) {
	@keyframes #{$name} {
		0% {
			opacity: $opacityNum;
		}
		50% {
			opacity: 1;
		}
		75% {
			opacity: 1;
		}
		100% {
			opacity: $opacityNum;
		}
	}
}
.placeholder_card {
	background-color: #f5f5f5;
	border-radius: 5px;
	padding: 20px;

	.author_name {
		background-color: #cdced3;
		animation: placeholderOpacity 2s ease infinite;
	}
	.content_hover {
		p {
			animation: placeholderOpacity 2s ease infinite;
			background-color: #cdced3;
			height: 18px;
		}
	}
	.btn_hover {
		animation: placeholderOpacity 2s ease infinite;
		border-radius: 20px;
		background-color: #cdced3;
		height: 40px;
	}
}
.img_hover {
	animation: placeholderOpacity 2s ease-in-out infinite;
	border-radius: 50%;
	background-color: #cdced3;
}
.block_animation {
	animation: placeholderOpacity 2s ease infinite;
	background-color: #cdced3;
	height: 18px;
}
@include placeholder_animation('placeholderOpacity', 0.3);
