%iconsstyle {
	font-size: 22px;
	color: #9a9fbf;
}
.card_box {
	background-color: #fff;
	padding: 23px;
	border-radius: 5px;
	.user_name {
		color: #515365;
		font-weight: 700;
	}
	.post_time {
		color: #888da8;
		font-weight: 400;
		font-size: 0.812rem;
	}
	.post_menu_dots {
		background-color: #f5f5f5;
		width: 45px;
		height: 45px;
		border-radius: 45px;
	}
	.post_content {
		color: #888da8;
		font-size: 0.875rem;
	}
	.post_reactions {
		border-top: 1px solid #e6ecf5;
		.post_likes {
			.heart_icon {
				@extend %iconsstyle;
			}
			.likes_count {
				color: #9a9fbf;
			}
		}
		.post_icons {
			.post_comments {
				color: #9a9fbf;
				.post_comment_icon {
					@extend %iconsstyle;
				}
			}
			.post_share {
				color: #9a9fbf;
				.share_post_icon {
					@extend %iconsstyle;
				}
			}
		}
	}
	.users_likes {
		.user_like_img {
			display: inline-flex;
			a {
				display: block;
				border: 2px solid #fff;
				margin-left: -9px;
				overflow: hidden;
			}
		}
	}
	.users_liked_name {
		p {
			font-size: 12px;
			color: #9a9fbf;
			span {
				color: #515365;
			}
		}
	}
}
