$main-color: #34d399;

.btn-aurora {
	color: #fff;
	background-color: $main-color;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid $main-color;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 25px;
	transition: 0.4s;

	&:hover {
		background-color: #fff;
		color: $main-color;
	}

	&.lg {
		padding: 0.5rem 1rem;
		font-size: 1.25rem;
		line-height: 1.5;
	}

	&.sm {
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
		line-height: 1.5;
	}

	&.disabled,
	&:disabled {
		opacity: 0.65;
		cursor: not-allowed;

		&:hover {
			color: #fff;
			background-color: $main-color;
		}
	}

	&.btn-outline {
		background-color: #fff;
		color: $main-color;

		&:hover {
			color: #fff;
			background-color: $main-color;
		}

		&.disabled,
		&:disabled {
			&:hover {
				background-color: #fff;
				color: $main-color;
			}
		}
	}
}
