.friends_list_box,
.chat_body,
.chats_inbox,
.left_menu {
	&::-webkit-scrollbar {
		width: 5px;
		border-radius: 5px;
	}
	&::-webkit-scrollbar-track {
		background-color: #f1f1f1;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgb(206, 203, 203);
	}
}
.active {
	border-left: 4px solid rgb(132 204 22);
	background-color: rgb(204 251 241);
	transition: all 0.2s ease-in-out;
}
